// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

@import "~bootstrap/scss/bootstrap";

  .navbar {
    background-color: #babe9c;
  }

.navbar-brand .logo-image {
  max-height: 100px;
  width: auto;
  margin-left: 1rem; // add space on the left
}

.navbar-toggler {
  margin-right: 1rem; // add space on the right
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 992px) {
  .navbar-brand .logo-image {
    max-height: 100px;
  }
}

@media (max-width: 768px) {
  .navbar-brand .logo-image {
    max-height: 80px;
  }
}

@media (max-width: 576px) {
  .navbar-brand .logo-image {
    max-height: 60px;
  }
}

@media (max-width: 991px) {
    .navbar-collapse .nav-link {
      padding-left: 2rem; // adjust this value as needed
    }
  }
  
  .image-100-width {
    width: 100%;
  }

  /* Keyoma Website Hero with image */
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  body {
    background-color: #F8F8F8;
  }
  